/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

/* Navbar */
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  /*========== Font and typography ==========*/
  --body-font: "Montserrat Alternates", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1rem;
  --normal-font-size: .938rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  /* color */
  --color-paragraph: #545454;
  --color-bg-default: #E49422;
}
/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* overflow-x: hidden; */
  background-color: #f5f5f5;
  min-height: 100vh;
  /* width: 100vw; */
}
main{
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  /* margin-top: 5.2%; */
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container-navbar {
  max-width: 90%;
  margin-inline: 1.5rem;
  max-height: 100px;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: var(--black-color); */
  background-color: var(--black-color);
  z-index: var(--z-fixed);
  /* display: none; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.nav__close, 
.nav__toggle {
  display: flex;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
  .nav__logo img{
    height: 50px;
  }
  .nav__link:hover span {
    margin-left: 2.5rem;
  }
}

.nav__list, 
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  position: relative;
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav__link i {
  font-size: 2rem;
  /* padding-left: 10px; */
  /* padding-top: 10px; */
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s; 
  text-align: center;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: width .4s ease-out;
}

/* Animation link on hover */


.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.nav__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: transform .4s;
}

.nav__social-link:hover {
  transform: translateY(-.25rem);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container-navbar {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
  .nav__logo img{
    height: 70px;
  }
  .nav__link i{
    display: none;
  }
  .container-information > .information .list{
    margin-left: 40px;
  }
  .container-layanan > .information {
    grid-template-columns: repeat(3, 1fr);
  }
  .hero{
   min-height: 100vh;
  }
}
/* End Navbar */

/* Section */
section{
  /* min-height: 100vh; */
  width: 100%;
}
/* Hero */
.hero{
  /* menggunakan image */
  /* background-image: url('/assets/template/Bg-img.png');
  background-size: cover;
  background-position: center; */
  height: 100vh;
  width: 100%;
}
.background{
  color: black;
  display: flex;
  z-index: 1;
  background-color: #2A3335;
  height: 620px;
}
.container-content-hero{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.context-image,
.context-text{
  width: 50%;
  display: flex;
  justify-content: center;
}
.context-text{
  flex-direction: column;
  justify-content: start;
  width: 30%;
}
.context-image img{
  width: 100%;
  filter: drop-shadow( rgba(0, 0, 0, 0.35) 0px 5px 15px);
  z-index: 1;
}
.context-image{
  margin-bottom: -1%;
}
/* container-information */
.container-information{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -10%;
}
.container-information > .information{
  height: 150px;
  background-color: #fff;
  width: 80%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-information > .information > .list{
  /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  height: 100%;
}
.container-information > .information > .list > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container-information > .information > .list > div > i{
font-size: 30px;
/* background-color: var(--black-color); */
background-color: var(--color-bg-default);
color: white;
margin-right: 10px;
border-radius: 100%;
padding: 10px;
}
h1{
  font-size:2.5em;
}
.context-text h3{
  font-size: 1.8em;
}
@media screen and (max-width: 368px) {
  .container-layanan > .information{
    grid-template-columns: repeat(1, 1fr);
    display: grid;
  }
}
@media screen and (max-width: 468px){
  .container-layanan > .information{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    gap: 20px;
  }
  .card{
    max-height: 320px;
  }
  .container-layanan{
    margin-top: 20px;
  }
  .flex{
    grid-template-columns: repeat(1, 1fr);
  }
  .description > .flex > .text > h3{
    font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  .background{
    flex-direction: column;
    align-items:end;
    /* align-items: center; */
    justify-content: center;
  }
  .context-text{
    max-width: 80%;
  }
    .container-layanan{
      /* margin-top: 30%; */
      margin-top: 20px;
    }
    .hero {
      height: fit-content ;
    }
    .flex{
      grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1150px) {
  .container-layanan > .information{
    grid-template-columns: repeat(2, 1fr);
  }
  .context-image {
    justify-content: end;
    /* position: absolute; */
    width: 90%;
  }
  .context-text {
    width: 100%;
  }
  .container-content-hero{
    width: 90%;
    flex-direction: column;
  }
  .context-image img{
    width: 50%;
    object-fit:contain;
    filter: drop-shadow( rgba(0, 0, 0, 0.35) 0px 5px 15px);
    z-index: 1;
  }
  .container-information > .information{
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .context-text{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 90%;
  }
  .container-content-hero{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  h1{
    font-size:1.5em;
  } 
  .hero{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.context-text h3{
  font-size: 1em;
}
.container-information > .information{
  height: fit-content;
}
.container-information > .information > .list{
  /* align-items: center; */
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 10px; */
  display: flex;
  padding: 10px;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.background{
  height: 100%;
  flex-direction: column;
  align-items:start;
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 20%;
}
.container-layanan > .information{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.container-layanan{
  margin-top: 10px;
}
}

/* information */
/* .information{
  } */
  /* layanan */
.container-layanan{
  /* padding-top: 5%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: max-content;
  margin-bottom: 20px;
}
.container-layanan > .information{
  display: grid;
  place-items: center;
  align-items: start;
  padding-top: 1%;
  width: 80%;
  gap: 20px;
}
.info-h1{
  border-bottom: 3px solid #E49422;
}
.info{
  display: flex;
  justify-content: center;
}
.card img{
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.card{
  width: 100%;
  height: fit-content;
  padding-bottom: 5%;
  object-fit: cover;
  border-radius: 10px;
  background-color: white;
}
.card-information{
  text-align: center;
  padding-top: 2%;
  margin: 0px 20px 0px 20px;
}
.card-information > p{
  padding-top: 15px;
}
/* description */
.description{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex{
  display: grid;
  width: 95%; 
  gap: 20px;
}
.f-s{
  width: 100%;
  height: 100vh;
}
.image-f {
  height: 100%;
}
.image-f > img{
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.description > .flex > .text > h3{
  font-size: 1.5em;
  font-weight: 400;
}
p{
  color: var(--color-paragraph);
}
.btn{
  margin-top: 20px;
  width:fit-content;
}
.btn > a{
  background-color: var(--color-bg-default);
  padding: 10px 25px;
  font-size: 1.2em;
  font-weight: 600;
  font-family:sans-serif, serif;
  color: white;
  border-radius: 5px;
  transition: .2s;
}
.btn > a:hover {
background-color: #905c14;
}